.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.puzzle_loader {
  width: 15em;
  height: 15.5em;
}

.puzzle {
  display: grid;
  justify-content: center;
}

.bad-guess-container {
  margin-bottom: 5em;
}

.logo_row {
  display: grid;
  grid-template-columns: .5fr .2fr .5fr;
  place-items: center;
  margin-bottom: -3em;
  margin-top: -2em;
}

.wasm_svg {
  margin-left: 2em;
  padding-top: 2.7em;
}

.puzzle_row {
  display: flex;
}

.themed-p {
  color: #61dafb;
}

.show-hide {
  font-size: .65em;
  font-style: italic;
  text-decoration: underline;
}

.instructions-h3 {
  text-align: center;
}

.instructions-holder {
  text-align: left;
  font-size: .6em;
  color: #61dafb;
  margin-top: -2em;
  margin-right: 10%;
  margin-left: 10%;
}

.puzzle_space {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
  border: solid #61dafb;
  border-width: 1px;
}

.puzzle_space_char {
  color: #61dafb;
  light-height: 1.5em;
}

.puzzle_space_blank {
  background-color: #61dafb;
}

.button_container  {
  display: flex;
  margin-bottom: 1em;
}

.nav_button {
  display: inline-block;
  color: #62dafb;
  border: solid #61dafb;
  background-color: #282c34;
  padding: .25em;
  margin-left: .15em;
  margin-right: .15em;
  font-size: .7em;
}

.letter-container {
  display: flex;
}

.letter-button {
  border-radius: 50%;
  display: inline-block;
  height: 2em;
  width: 2em;
  text-align: center;
  margin: .2em;
  font-size: 1em;
}

.letter-button-unselected {
  background-color: #282c34;
  border: solid #61dafb;
  color: #62dafb;
}

.letter-button-selected {
  color: #282c34;
  border: none;
  background-color: #62dafb;
}

.guess-button {
  background-color: #282c34;
  border: solid #61dafb 4px;
  border-radius: 95%;
  color: #62dafb;
  margin-bottom: 1em;
  padding: 1.25em;
  font-size: .75em;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
